# -*- conf -*-
# Emacs temporary and backup files.
\#*
*~
*.bak
.#*
.~lock.*.ods#
*.tmp
**/tmp/

# File manager and editor droppings
.directory
DEADJOE

# GNU screen
hardcopy.[0-9]*
screenlog.[0-9]*

# Temporary files I tend to leave lying around
a
a.py
b
b.py

# Things we universally won't be wanting: latex output files, object
# files, temporary backups, etc.
*.aux
*.gpi
*.gvp
*.lck
*.log
*.o
*.out
*.ppm
*.svg.4ht
*.tar
*.tar.bz2
*.tar.gz
*.tiff
.deps
.depends
.git
.svn
*.vcd
*.pyc
__pycache__
asm/*.bin
asm/*.list
asm/*.map
asm/*.pasm
asm/*.sym
asm/build/
!asm/build/.directory

###############################################################################
#
# DOCUMENTATION
#
###############################################################################

documentation/external/
documentation/latex/*/*.4tc
documentation/latex/*/*.css
documentation/latex/*/*.idv
documentation/latex/*/*.lg
documentation/latex/*/*.aux
documentation/latex/*/*.log
documentation/latex/*/*.dvi
documentation/latex/*/*.out
documentation/latex/*/*.ps
documentation/latex/*/*.eps
documentation/latex/*/*.idx
documentation/latex/*/*.ilg
documentation/latex/*/*.ind
documentation/latex/*/*.glo
documentation/latex/*/*.lods
documentation/latex/*/*.toc
documentation/latex/*/*.acn
documentation/latex/*/*.ist
documentation/latex/*/*.lo[afst]
documentation/latex/*/*.pyg
documentation/latex/*/*.loioport
documentation/latex/*/*.
documentation/latex/*/*.auxlock
documentation/latex/*/*.lotasks
documentation/latex/*/fancyhdr
documentation/latex/*/tmp.*
documentation/latex/**/figure-*.eps
documentation/latex/**/figure-*.pdf
documentation/latex/**/figure-*.png
documentation/latex/cft_book/cft-book.figlist
documentation/latex/cft_book/cft-book.lods
documentation/latex/cft_book/cft-book.makefile
documentation/latex/cft_book/cft-book.toc
documentation/latex/cft_book/list-of-things
documentation/latex/cft_book/stamp-ioports
documentation/latex/cft_book/stamp-safigs
documentation/latex/cft_book/cft-book-html[0-9]*x.png
documentation/latex/cft_book/cft-book-screen.pdf
documentation/latex/cft_book/cft-book-html.pdf
documentation/latex/cft_book/cft-book.pdf
documentation/latex/cft_book/cft-book*.xdv
documentation/latex/cft_book/cft-book*.xref
documentation/latex/cft_book/montage.*
documentation/latex/cft_book/*.4ct
documentation/latex/cft_book/samples.*
documentation/latex/cft_book/stamp-*
documentation/latex/cft_book/*.html
documentation/latex/programming_guide/cft-programming-guide-compressed.pdf
documentation/latex/programming_guide/cft-programming-guide.pdf
documentation/latex/hardware_guide/*fig*.pdf
documentation/latex/hardware_guide/*fig*.ps
documentation/latex/panel_guide/cft-panel-guide.pdf
documentation/latex/poster/*.aux
documentation/latex/poster/*.jpg
documentation/latex/poster/*.log
documentation/latex/poster/*.out
documentation/latex/poster/*.pdf
documentation/latex/poster/*.png
documentation/latex/poster/poster-2*.jpg
documentation/latex/poster/poster-2*.png
documentation/latex/poster/rect*.png
documentation/latex/generated/
!documentation/latex/generated/.directory
documentation/case/AutoSave_CFT.skp
documentation/case/*.skb
documentation/panel/*_backup.svg
documentation/panel/*.jpg
documentation/panel/front-panel-v*.png
documentation/panel/*.ps
documentation/panel/use[0-9]*.png
documentation/planning/Processor*.png
documentation/notes/IdeCtrl*
documentation/notes/*/*.pdf
documentation/bowen-6502-refcard
documentation/.cft-refcard*
documentation/cft-refcard
documentation/logo/facebook/

###############################################################################
#
# EAGLE CAD
#
###############################################################################

# This isn't used any more, but I'm excluding a bunch of files using patterns adapted from:
#
# https://github.com/github/gitignore/blob/master/Eagle.gitignore.
# Backup files
eagle/**/*.s#?
eagle/**/*.b#?
eagle/**/*.l#?
eagle/**/*.b$?
eagle/**/*.s$?
eagle/**/*.l$?

# Eagle project file (includes serial number and local paths, always exclude)
eagle.epf

# Autorouter files
eagle/**/*.pro
eagle/**/*.job

# CAM files
eagle/**/*.$$$
eagle/**/*.cmp
eagle/**/*.ly2
eagle/**/*.l15
eagle/**/*.sol
eagle/**/*.plc
eagle/**/*.stc
eagle/**/*.sts
eagle/**/*.crc
eagle/**/*.crs

eagle/**/*.dri
eagle/**/*.drl
eagle/**/*.gpi
eagle/**/*.pls
eagle/**/*.ger
eagle/**/*.xln

eagle/**/*.drd
eagle/**/*.drd.*

*.s#?
*.b#?
*.s#?~
*.b#?~

eagle/**/*.info
eagle/**/*.eps
eagle/**/*.lck

# Most of my own jobs have uppercase extensions.

eagle/**/*.CMP
eagle/**/*.DRD
eagle/**/*.G[A-Z][A-Z]
eagle/**/*.gbl
eagle/**/*.PLC
eagle/**/*.SOL
eagle/**/*.ST[SC]
eagle/**/*.TXT
eagle/**/*.[TB]PLC
eagle/**/*.[ct]sv
eagle/**/*.bmp
eagle/**/*.bom
eagle/**/*.bom[pv]
eagle/**/*.dri
eagle/**/*.epf
eagle/**/*.eps
eagle/**/*.gpi
eagle/**/*.htm
eagle/**/*.html
eagle/**/*.log
eagle/**/*.netlist
eagle/**/*.none.txt
eagle/**/*.ods
eagle/**/*.pdf
eagle/**/*.png
eagle/**/*.pov
eagle/**/*.pov.[gx]z
eagle/**/*.pov.bz2
eagle/**/*.pov.one.txt
eagle/**/*.pro
eagle/**/*.ps
eagle/**/*.ps
eagle/**/*.rca
eagle/**/*.scr
eagle/**/*.svg
eagle/**/*.tar
eagle/**/*.tar.bz2
eagle/**/*.tar.gz
eagle/**/*.tif
eagle/**/*.tiff
eagle/**/*.xcf
eagle/**/*.xcf
eagle/**/*.zip
eagle/**/*[0-9]

eagle/*.svg
eagle/*.xcf

eagle/**/cft

eagle/radiosity/
eagle/render-out/
eagle/saved.rad
eagle/*.pov

emulator/*.o
emulator/cftemu
experiments/**
/js/**/a.bin
/js/**/a.pasm
/js/**/a.map
/js/**/a.sym
/js/**/calibrate.bin
/js/**/calibrate.map
/js/**/calibrate.sym
/js/**/*-[0-9][0-9].list
/js/**/map.xpm
/js/**/rom.js
/js/**/microcode.js

###############################################################################
#
# THE FRONT PANEL AND DFP, ALSO ANY AVR FIRMWARE
#
###############################################################################

**/firmware/*.axf
**/firmware/*.bin
**/firmware/*.elf
**/firmware/*.eps
**/firmware/*.hex
**/firmware/*.lst
**/firmware/*.map
**/firmware/*.o
**/firmware/*.pdf
**/firmware/*.png
**/firmware/*.s
**/firmware/*.s-1
**/firmware/*.srec
**/firmware/.stamp-dl
**/firmware/[lh]fuse
**/firmware/sim_dfp
**/firmware/dfp.elf
# **/simavr/
# **/simavr/simavr/obj-x86_64-linux-gnu/
front-panel/lib/libdfp.so
front-panel/lib/libdfp.so.*


###############################################################################
#
# KICAD
#
###############################################################################

# These patters were adapted from:
#
# https://github.com/github/gitignore/blob/master/KiCad.gitignore

kicad/**/*.000
kicad/**/*.bck
kicad/**/*.kicad_pcb-bak
kicad/**/_autosave-*
kicad/**/*-save.pro
kicad/**/*-save.kicad_pcb
kicad/**/fp-info-cache

# Netlists
kicad/**/*.net

# Autorouter (which I haven't used yet)
kicad/**/*.dsn
kicad/**/*.ses

# BOMs
kicad/**/*.csv
kicad/**/*.xml

# Also some common files I find in my kicad directories
kicad/**/*.drl
kicad/**/*.gbrjob
kicad/**/*.eps
kicad/**/*.gbr
kicad/**/*.jpg
kicad/**/*.pdf
kicad/**/*.png
kicad/**/*.png.xmp
kicad/**/*.ps
kicad/**/*.sch-bak
kicad/**/*.png.xmp

# Board plots, ready for manufacture. Let's keep the zip files for those, and only those.
/kicad/**/Plots/[0-9]/
!/kicad/**/Plots/[0-9]*/*zip

###############################################################################
#
# MISC STUFF
#
###############################################################################

microcode/*.[hv]
microcode/*.json
microcode/*.bin
microcode/*.list
microcode/*.mif
notes/*pdf
testing/reports/
screenshots/
testing/sandbox/
tmp/
tools/pygment*
verification/filters/control
verification/filters/disasm
verification/filters/uaddr
verification/img/
verification/vcd/
/verilog/*.bin
/verilog/*.bmp
/verilog/*.bz2
/verilog/*.gz
/verilog/*.out
/verilog/*.pdf
/verilog/*.tar
/verilog/*.tar.*
/verilog/filters/control
/verilog/filters/disasm
/verilog/filters/uaddr
verilog/img/*.list
verilog/img/a.*
/verilog/vcd/
/video-board/altera/*.cmp
/video-board/altera/*.done
/video-board/altera/*.eqn
/video-board/altera/*.hex
/video-board/altera/*.html
/video-board/altera/*.jdi
/video-board/altera/*.jpg
/video-board/altera/*.mif
/video-board/altera/*.pin
/video-board/altera/*.pof
/video-board/altera/*.ptf.*
/video-board/altera/*.qar
/video-board/altera/*.qarlog
/video-board/altera/*.qws
/video-board/altera/*.rpt
/video-board/altera/*.sdc
/video-board/altera/*.smsg
/video-board/altera/*.sof
/video-board/altera/*.sopc_builder
/video-board/altera/*.summary
/video-board/altera/*.tcl
/video-board/altera/*.txt
/video-board/altera/*/*_sim
/video-board/altera/*/db
/video-board/altera/*/incremental_db
/video-board/altera/*/simulation
/video-board/altera/*/testbench
/video-board/altera/*/timing
/video-board/altera/*_generation_script*
/video-board/altera/*_inst.vhd
/video-board/altera/*example*
/video-board/altera/*sopc_*
/video-board/altera/*~
/video-board/altera/PLLJ_PLLSPE_INFO.txt
/video-board/altera/_output_files/
/video-board/altera/output_files/
/video-board/altera/db
/video-board/altera/incremental_db
/video-board/verilog/sn*.pdf
/video-board/verilog/img
/video-board/verilog/vcd
/video-board/verilog/vdu-*.bmp
/videos/
/pub/

###############################################################################
#
# THE ROM AND OTHER SOURCES TO RUN ON THE CFT ITESLF
#
###############################################################################

/rom/Untitled.xpm
/rom/*.bin
/rom/*.list
/rom/*png
/rom/*svg
/rom/*xcf
/rom/*xpm
/rom/a
/rom/build/
/rom/generated/
/rom/output
/rom/output[0-9]

/forth*/*.bin
/forth*/*.list
/forth*/a
/forth*/forth.map
/forth*/forth.sym
/forth/_generated_*.asm

###############################################################################
#
# EMULATOR
#
###############################################################################

# Artifacts of running the emulator
/rom/hd0
dfp_pts
output
output[0-9]
/emulator/romfont.fnt
/emulator/romfont.h

###############################################################################
#
# ASSEMBLER OUTPUTS
#
###############################################################################

*.pasm
a-??.list

# End of file.
