#*
*.aux
*.bak
*.gpi
*.gvp
*.job
*.lck
*.log
*.o
*.out
*.ppm
*.svg.4ht
*.tar
*.tar.bz2
*.tar.gz
*.tiff
*~
.#*
.deps
.directory
.git
.svn
DEADJOE
asm/*.bin
asm/*.list
asm/*.map
asm/*.pasm
asm/*.sym
documentation/external
documentation/latex/*/*.aux
documentation/latex/*/*.log
documentation/latex/*/*.dvi
documentation/latex/*/*.out
documentation/latex/*/*.ps
documentation/latex/*/*.eps
documentation/latex/*/*.idx
documentation/latex/*/*.ilg
documentation/latex/*/*.ind
documentation/latex/*/*.glo
documentation/latex/*/*.lods
documentation/latex/*/*.toc
documentation/latex/*/*.auxlock
documentation/latex/*/*.lotasks
documentation/latex/*/fancyhdr
documentation/latex/*/tmp.*
documentation/latex/cft_book/cft-book.figlist
documentation/latex/cft_book/cft-book.lods
documentation/latex/cft_book/cft-book.makefile
documentation/latex/cft_book/cft-book.toc
documentation/latex/cft_book/list-of-things
documentation/latex/cft_book/stamp-ioports
documentation/latex/cft_book/stamp-safigs
documentation/latex/programming_guide/cft-programming-guide-compressed.pdf
documentation/latex/programming_guide/cft-programming-guide.pdf
documentation/latex/hardware_guide/*fig*.pdf
documentation/latex/hardware_guide/*fig*.ps
documentation/latex/panel_guide/cft-panel-guide.pdf
documentation/latex/poster/*.aux
documentation/latex/poster/*.jpg
documentation/latex/poster/*.log
documentation/latex/poster/*.out
documentation/latex/poster/*.pdf
documentation/latex/poster/*.png
documentation/latex/poster/poster-2*.jpg'
documentation/latex/poster/poster-2*.png'
documentation/latex/poster/rect*.png
documentation/panel/*_backup.svg
documentation/panel/*.jpg
documentation/panel/front-panel-v*.png
documentation/panel/*.ps
documentation/panel/use[0-9]*.png
documentation/planning/Processor*.png
documentation/notes/IdeCtrl*
documentation/notes/*/*.pdf
documentation/bowen-6502-refcard
documentation/.cft-refcard*
documentation/cft-refcard
eagle/*.CMP
eagle/*.DRD
eagle/*.G[A-Z][A-Z]
eagle/*.PLC
eagle/*.SOL
eagle/*.ST[SC]
eagle/*.TXT
eagle/*.[TB]PLC
eagle/*.[ct]sv
eagle/*.bmp
eagle/*.bom
eagle/*.bom[pv]
eagle/*.dri
eagle/*.epf
eagle/*.eps
eagle/*.gpi
eagle/*.htm
eagle/*.html
eagle/*.log
eagle/*.netlist
eagle/*.ods
eagle/*.pdf
eagle/*.png
eagle/*.pov
eagle/*.pov.[gx]z
eagle/*.pov.bz2
eagle/*.pov.one.txt
eagle/*.pro
eagle/*.ps
eagle/*.ps
eagle/*.rca
eagle/*.scr
eagle/*.svg
eagle/*.tar
eagle/*.tar.bz2
eagle/*.tar.bz2
eagle/*.tar.gz
eagle/*.tif
eagle/*.tiff
eagle/*.xcf
eagle/*.xcf
eagle/*.zip
eagle/*[0-9]
eagle/*~
eagle/cft
eagle/old/*.eps
eagle/old/*.pdf
eagle/old/*.png
eagle/old/*.pov
eagle/old/*.rca
eagle/old/*.scr
eagle/old/*.svg
eagle/old/*[0-9]
eagle/older/*.eps
eagle/older/*.pdf
eagle/older/*.png
eagle/older/*.pov
eagle/older/*.rca
eagle/older/*.scr
eagle/older/*.svg
eagle/older/*[0-9]
eagle/radiosity
eagle/render-out
eagle/saved.rad
emulator/*.o
emulator/cftemu
experiments
figure-*.eps
figure-*.pdf
figure-*.png
forth-new/*.bin
forth-new/*.list
forth-new/a
forth-new/output
forth-new/output[0-9]
forth/*.bin
forth/*.list
forth/a
forth/output
forth/output[0-9]
fp-info-cache
front-panel/firmware/*.bak
front-panel/firmware/*.bin
front-panel/firmware/*.elf
front-panel/firmware/*.eps
front-panel/firmware/*.lst
front-panel/firmware/*.map
front-panel/firmware/*.o
front-panel/firmware/*.pdf
front-panel/firmware/*.png
front-panel/firmware/*.s
front-panel/firmware/*.s-1
front-panel/firmware/*.srec
front-panel/firmware/.stamp-dl
front-panel/firmware/dfp.elf
front-panel/simavr/*
front-panel/simavr/simavr/obj-x86_64-linux-gnu/*
js
kicad/*/*.bak
kicad/*/*.bak
kicad/*/*.drl
kicad/*/*.eps
kicad/*/*.gbr
kicad/*/*.jpg
kicad/*/*.kicad_pcb-bak
kicad/*/*.pdf
kicad/*/*.png
kicad/*/*.ps
kicad/*/fp-info-cache
microcode/*.[hv]
microcode/*.bin
microcode/*.list
microcode/*.mif
notes/*pdfg
reports/*
rom/*.bin
rom/*.list
rom/*png
rom/*svg
rom/*xcf
rom/*xpm
rom/a
rom/build/*
rom/generated/*
rom/output
rom/output[0-9]
sandbox/*
screenshots
testing/.deps
testing/sav/*
tmp
tools/pygment*
verification/filters/control
verification/filters/disasm
verification/filters/uaddr
verification/img/*
verification/vcd/*
verilog/*.bin
verilog/*.bmp
verilog/*.bz2
verilog/*.gz
verilog/*.out
verilog/*.pdf
verilog/*.sav
verilog/*.tar
verilog/*.tar.*
verilog/filters/control
verilog/filters/disasm
verilog/filters/uaddr
verilog/img/*.list
verilog/img/a.*
verilog/vcd/*
video-board/altera/*.bak
video-board/altera/*.cmp
video-board/altera/*.done
video-board/altera/*.eqn
video-board/altera/*.hex
video-board/altera/*.html
video-board/altera/*.jdi
video-board/altera/*.jpg
video-board/altera/*.mif
video-board/altera/*.pin
video-board/altera/*.pof
video-board/altera/*.ptf.*
video-board/altera/*.qar
video-board/altera/*.qarlog
video-board/altera/*.qws
video-board/altera/*.rpt
video-board/altera/*.sdc
video-board/altera/*.smsg
video-board/altera/*.sof
video-board/altera/*.sopc_builder
video-board/altera/*.summary
video-board/altera/*.tcl
video-board/altera/*.txt
video-board/altera/*/*_sim
video-board/altera/*/db
video-board/altera/*/incremental_db
video-board/altera/*/simulation
video-board/altera/*/testbench
video-board/altera/*/timing
video-board/altera/*_generation_script*
video-board/altera/*_inst.vhd
video-board/altera/*example*
video-board/altera/*sopc_*
video-board/altera/*~
video-board/altera/PLLJ_PLLSPE_INFO.txt
video-board/altera/_output_files
video-board/altera/db
video-board/altera/incremental_db
video-board/altera/output_files/*
video-board/verilog/sn*.pdf
video-board/verilog/img
video-board/verilog/vdu-*.bmp
videos
rom/Untitled.xpm
pub
